{% extends 'base.html.twig' %}

{% block body %}
    {% include ('NfqAkademijaFrontendBundle:Blocks:header.html.twig') %}

    <div class="container">
        <div class="row-fluid" id="postswrapper">
            {% include ("NfqAkademijaFrontendBundle:DisplayHandler:scroll.html.twig") %}
        </div>

        <div id="scroll_loader" class="clearfix scroll-loader">
            <img src="{{ asset("css/img/loading.gif") }}" alt="Loading..." />
        </div>
    </div>

    {% include ("NfqAkademijaFrontendBundle:Blocks:modal.html.twig") %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/jquery-ui.css") }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/masonry.pkgd.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/jquery-ui.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/main.js") }}"></script>
{% endblock %}