{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(imageUploader, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(imageUploader) }}

            {{ form_label(imageUploader.title, "Nuotraukos antraštė") }}
            {{ form_widget(imageUploader.title) }}
            <br />

            {{ form_label(imageUploader.tags, "Paieškos frazės") }}
            <ul class="tags" data-prototype="{{ form_widget(imageUploader.tags.vars.prototype)|e }}">
                {% for tag in imageUploader.tags %}
                    <li>{{ form_row(tag.name) }}</li>
                {% endfor %}
            </ul>
            {% do imageUploader.tags.setRendered() %}

            <br />
            {{ form_label(imageUploader.fileName, "Nuotrauka") }}
            {{ form_widget(imageUploader.fileName, {'attr': {'class': 'file_name'}}) }}

            {{ form_row(imageUploader.upload, {'attr': {'class': 'upload'}}) }}

    {{ form_end(imageUploader) }}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <script type="text/javascript" src="{{ asset("bundles/nfqakademijafrontend/js/formTags.js") }}"></script>

    <script type="text/javascript">
        $(document).on("click", ".upload", function(event) {
            event.preventDefault();
        });

        $(document).ready(function(){
            $(".file_name").fileupload({
                dataType: 'json',
                Default:true,
                singleFileUploads: true,
                success: function (msg) {

                },
                add: function (e, data) {
                    $(".upload").prop("disabled",false);
                    $(".upload").off('click').on('click',function (event) {
                        event.preventDefault();
                        $(".upload").prop("disabled",true);
                        data.submit();
                    });
                }
            });
        });
    </script>

{% endblock %}